// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//メディアクエリ設定
$breakpoints: (
    md: "screen and (max-width: 768px)",
    lg: "screen and (min-width: 768px)",
);
@mixin media($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}


.header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
}

.margin-top5{
    margin-top: 5%;
}

.blog img {
    width: 35%;
}

.display-flex{
    display: flex;
}

article{
    margin-bottom: 10%;
    
    @include media(lg) {
    }
    @include media(md) {
        width: 100%;
    }
}

.wall{
    width: 100%;
    margin-bottom: 10%;
}

aside {
    
    @include media(lg) {
        
    }
    @include media(md) {
        margin-left: 3%;
        margin-right: 3%;
    }
}

.margin-side3 {
    margin-left: 3%;
    margin-right: 3%;
}

.profile{
    //position: absolute;
    //padding-left: 10%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    border-bottom: solid #0bd;
    //list-style: none;
    //background-image: url('../storage/profile_icon.jpg');
    //background-image: url(/profile_icon.jpg);
    //background-image: url({{ secure_asset('/profile_icon.jpg') }});
    //src="{{ secure_asset('/storage/profile_icon.jpg') }}" 
    //background-size: contain;
    //background-repeat: no-repeat;
    //background-position: left top;
    width: 100%;
}


.profile-icon{
    width: 50%;
    border-radius: 50%;
    //display: inline-block;
    //margin: 0 auto;
}

.margin-top3{
    margin-top: 3%;
}

footer{
    background-color: black;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}


footer p {
  color: #fff;
}


.row-cols-sm-2{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
    img{
        width: 35%;
    }
}

.display-flex-space-between{
    display: flex;
    justify-content: space-between;
}


.header-menu {
    list-style: none;
    
    @include media(lg) {
        a {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0 auto;
            padding: 10px 25px;
            color: #543618;
            font-weight: 600;
            background: #eeee;
            border-radius: 50px;
            border: 0.2rem solid #543618;
            box-shadow: 0.2rem 0.2rem 0px 0.1rem #cccccc;
            text-decoration: none;
            }
            a:hover {
            transform: translate3d(0.2rem, 0.2rem, 0);
            box-shadow: none;
            opacity: 1;
            transition: all 0.2s;
            }
    }
    @include media(md) {
        border-bottom: solid black;
        padding-bottom: 5%;
        padding-top: 5%;
        padding-left: 5%;
        margin-left: 5%;
        margin-right: 5%;
        a {
            color: #333333;
            text-decoration: none;
            }
    }
}

.blog-detail-card {
    margin: 2em auto;
    padding: 2em;/*内側余白*/
    border-left: solid 5px #e9b3a3;/*線の種類・太さ・色*/
    background-color:#f5f5f5;/*背景色*/
    box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.2);
    //width: 70%;
    
    .detail-footer{
        display: flex;
        margin-top: 3%;
    }
}

.responsive-width {
    @include media(lg) {
        width: 70%;
    }
    @include media(md) {
        width: 90%;
    }
}

.hamburger-inside {
    @include media(lg) {
        
    }
    @include media(md) {
    //background-color: rgba(51,51,51,0.5);
    background-color: white;
    //opacity: 0.5;
    //z-index: -1;
    }
}

    .card-img-top{
        margin: auto;
        margin-top: 3%;
        border-radius: 5%;
        width: 70%;
    }
     

.text-align-right{
    text-align: right;
}

.text-align-center{
    text-align: center;
}



.image-edit{
    img{
        cursor : pointer;
        width: 50%;
    }
    
    input{
        display: none;
        margin-left: 5%;
    }
    
    input:checked + label img {
         opacity: 0.5;
         border: 2px solid black;
    }
}


.kaigyo{
    white-space: pre-line;
    //width: 50%;
    text-align: left;
    margin-bottom: 10%;
}

.detail-image{
    //width: 50%;
    margin-right: 0;
    
        img{
        width: 70%;
        //text-align: center;
        margin-bottom: 10%;
    }
}

.home-button{
    width: 15%;
    margin-right: 0;
    padding-right: 0;
}

.margin-left-4{
    margin-left: 4%;
}

.margin-left-20{
    margin-left: 20%;
}

.detail-title{
    font-size: 2rem;
    font-family: "Hannotate SC";
}

.blog-card{
    margin: 2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px #888888;
    border-bottom: solid 2px #888888;
    //text-align: center;
    
    .card-img-top{
        display: block;
        margin: auto;
        margin-top: 3%;
        border-radius: 5%;
        width: 70%;
    }
    
    .footer{
        display: flex;
        margin-top: 3%;
        
        /*.date{
            padding-left: 5%;
            background-image: url(/edit.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left;
        }
        .etsuran{
            padding-left: 7%;
            padding-right: 30%;
            background-image: url(/etsuran.png);
            background-size: contain;     //％サイズ指定すると閲覧数の桁が増えたときに.etsuran領域が広がって目マークが大きくなってしまうからcontainにしている
            background-repeat: no-repeat;
            background-position: left;
            margin-left: 6%;
        }*/
    }
    
    .card-body{
            margin: 3%;
            
            .card-title{
                margin-bottom: 1%;
            }
        }
}

.blog-card:before, .blog-card:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #888888;
}

.blog-card:before {left: 10px;}
.blog-card:after {right: 10px;}

.itemlist-container{
    padding-top: 7%;
}

.container__itemlist{
    position: relative;
    background: #fffde7;
    width: 60%;
    margin: 2em auto;
    padding: 1.5em 1em;
    //transform: rotate(-2deg);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    color: #795548;
    }
.container__itemlist::before{
    content:'持ち物リスト';
    position: relative;
    display: inline-block;
    border-bottom: 3px solid #795548;
    border-radius: 0 0 40% 5% / 0 0 15% 20%;
    padding: 0 1em 0.1em 0.2em;
    font-size: 110%;
    font-weight: bold;
    transform: rotate(-5deg);
    margin-bottom: 2%;
    }
.container__itemlist::after{
    content:'';
    position: absolute;
    left: 50%;
    top: -15px;
    margin-left: -75px;
    width: 150px;
    height: 30px;
    background: rgba(245,245,245,0.7);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    transform: rotate(-4deg);
    }
    
    .toppage-icon {
        width: 5%;
        margin: 3%;
    }

.textlength_alert {
    color: red;
}

#loading {
    //transition: all 1s;
    background-color: #eee;
    position: fixed;
    z-index: 9999;
    inset: 0;
    display: grid;
    place-items: center;
}

#loading-screen {
    background-color: #d5edeb;
    position: fixed;
    z-index: 9998;
    inset: 0;
    translate: 0 100%;
}

.motion-image {
    opacity: 0;
}


//要素範囲の確認用
.red {
    background-color: red;
}

//bootstrapとjQueryで背景色が衝突したため、オーバーライド
.placeholder{
  background-color: transparent;
}

.bbb {
    font-family: 'Young Serif', serif;
}