// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//メディアクエリ設定
$breakpoints: (
    md: "screen and (max-width: 768px)",
    lg: "screen and (min-width: 768px)",
);

@mixin media($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

.responsive-flag{
    @include media(lg) {
        width: 10%;
    }
    @include media(md) {
        width: 20%;
    }
}

.header-menu-right {
    list-style: none;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    
    a {
        color: white;
        text-decoration: none;
    }
}

.hamburger-inside {
    @include media(lg) {
        margin: 0 0 0 auto;
    }
    @include media(md) {
        margin-left: 3%;
    }
}

.header-menu-left {
    list-style: none;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    
    a {
        color: white;
        text-decoration: none;
    }
}

.header{
    position: sticky;
    top: 0;
    //width: 100%;
    height: 100%;
    z-index: 999;
    background-color: black;
}

.margin-top5{
    margin-top: 5%;
}

.blog img {
    width: 35%;
}

.display-flex{
    display: flex;
}

article{
    margin-bottom: 10%;
    
    @include media(lg) {
    }
    @include media(md) {
        width: 100%;
    }
}

aside {
    @include media(lg) {
        
    }
    @include media(md) {
        padding-left: 3%;
        padding-right: 3%;
    }
}

.margin-side3 {
    margin-left: 3%;
    margin-right: 3%;
}

.profile{
    //position: absolute;
    //padding-left: 10%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    border-bottom: solid #0bd;
    //list-style: none;
    //background-image: url('../storage/profile_icon.jpg');
    //background-image: url(/profile_icon.jpg);
    //background-image: url({{ secure_asset('/profile_icon.jpg') }});
    //src="{{ secure_asset('/storage/profile_icon.jpg') }}" 
    //background-size: contain;
    //background-repeat: no-repeat;
    //background-position: left top;
    width: 100%;
}

.profile-icon{
    border-radius: 50%;
    @include media(lg) {
        width: 50%;
    }
    @include media(md) {
        width: 30%;
    }
}

.profile-icon-default{
    border-radius: 50%;
    @include media(lg) {
        width: 50%;
    }
    @include media(md) {
        width: 30%;
    }
}

.margin-top3{
    margin-top: 3%;
}

footer{
    background-color: black;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    p {
        color: #fff;
    }
}

.row-cols-sm-2{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
    
    img{
        width: 35%;
    }
}

.display-flex-space-between{
    display: flex;
    justify-content: space-between;
}

.blog-detail-card {
    margin: 2em auto;
    padding: 2em;/*内側余白*/
    border-left: solid 5px #e9b3a3;/*線の種類・太さ・色*/
    background-color:#f5f5f5;/*背景色*/
    box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.2);
    //width: 70%;
    
    .detail-footer{
        margin-top: 3%;
        color: gray;
        
        @include media(lg) {
            display: flex;
        }
        @include media(md) {
        }
        
        .side{
            @include media(lg) {
                margin-left: 3%;
            }
            @include media(md) {
            }
            
        }
    }
}

.responsive-width {
    @include media(lg) {
        width: 70%;
    }
    @include media(md) {
        width: 90%;
    }
}

.card-img-top{
    margin: auto;
    margin-top: 3%;
    border-radius: 5%;
    width: 70%;
}
     
.text-align-right{
    text-align: right;
}

.text-align-center{
    text-align: center;
}

.image-edit{
    img{
        cursor : pointer;
        width: 50%;
    }
    
    input{
        display: none;
        margin-left: 5%;
    }
    
    input:checked + label img {
         opacity: 0.5;
         border: 2px solid black;
    }
}


.detail-body{
    white-space: pre-line;
    //width: 50%;
    text-align: left;
    margin-bottom: 10%;
}

.detail-image{
    //width: 50%;
    margin-right: 0;
    
    img{
        width: 70%;
        //text-align: center;
        margin-bottom: 10%;
    }
}

.home-button{
    width: 15%;
    margin-right: 0;
    padding-right: 0;
}

.margin-left-4{
    margin-left: 4%;
}

.margin-left-20{
    margin-left: 20%;
}

.detail-title{
    font-size: 2rem;
    font-family: "Hannotate SC";
}

.blog-card{
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px #888888;
    border-bottom: solid 2px #888888;
    
    @include media(lg) {
        margin: 4em 2em;
    }
    @include media(md) {
        margin: 4em 1em;
    }
    
    .card-img-top{
        display: block;
        margin: auto;
        margin-top: 3%;
        border-radius: 5%;
        width: 70%;
    }
    
    .footer{
        display: flex;
        margin-top: 3%;
        
        /*.date{
            padding-left: 5%;
            background-image: url(/edit.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left;
        }
        .etsuran{
            padding-left: 7%;
            padding-right: 30%;
            background-image: url(/etsuran.png);
            background-size: contain;     //％サイズ指定すると閲覧数の桁が増えたときに.etsuran領域が広がって目マークが大きくなってしまうからcontainにしている
            background-repeat: no-repeat;
            background-position: left;
            margin-left: 6%;
        }*/
    }
    
    .card-body{
        margin: 3%;
        
        .card-title{
            margin-bottom: 1%;
        }
    }
    
    &::before, &::after{
        content: '';
        position: absolute;
        top: -10px;
        width: 2px;
        height: -webkit-calc(100% + 20px);
        height: calc(100% + 20px);
        background-color: #888888;
    }
    
    &::before {left: 10px;}
    &::after {right: 10px;}
}

.itemlist-container{
    padding-top: 7%;
}

.container__itemlist{
    position: relative;
    background: #fffde7;
    margin: 2em auto;
    padding: 1.5em 1em;
    //transform: rotate(-2deg);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    color: #795548;
    
    @include media(lg) {
        width: 70%;
    }
    @include media(md) {
        width: 90%;
    }


    &::before{
        content:'持ち物リスト';
        position: relative;
        display: inline-block;
        border-bottom: 3px solid #795548;
        border-radius: 0 0 40% 5% / 0 0 15% 20%;
        padding: 0 1em 0.1em 0.2em;
        font-size: 110%;
        font-weight: bold;
        transform: rotate(-5deg);
        margin-bottom: 2%;
    }
    &::after{
        content:'';
        position: absolute;
        left: 50%;
        top: -15px;
        margin-left: -75px;
        width: 150px;
        height: 30px;
        background: rgba(245,245,245,0.7);
        box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
        transform: rotate(-4deg);
    }
}

.toppage-icon {
    margin: 3%;
    @include media(lg) {
        width: 5%;
    }
    @include media(md) {
        width: 10%; 
    }
}
.textlength_alert {
    color: red;
}

#loading {
    //transition: all 1s;
    background-color: #eee;
    position: fixed;
    z-index: 9999;
    inset: 0;
    display: grid;
    place-items: center;
}

#loading-screen {
    background-color: #d5edeb;
    position: fixed;
    z-index: 9998;
    inset: 0;
    translate: 0 100%;
}

.motion-image {
    opacity: 0;
}

//bootstrapとjQueryで背景色が衝突したため、オーバーライド
.placeholder{
    background-color: transparent;
}

.head-border {
    display: flex;
    align-items: center;
 
    &:before, &:after {
        content: "";
        height: 1px;
        flex-grow: 1;
        background-color: #666;
    }
    &::before {
        margin-right: 1rem;
        background: linear-gradient(-90deg, #666, transparent);
    }
    &::after {
        margin-left: 1rem;
        background: linear-gradient(90deg, #666, transparent);
    }
}

.liked {
    color: #0066FF;
}

.wall-box {
    border: 5px dashed #aaa;
    background-color: #eee;
    padding: 20%;
    width: 90%;
    margin: 1% auto 10%;
}

.wall {
	overflow: hidden;
	position: relative;
	width: 100%;
    margin-bottom: 10%;

.caption {
	font-size: 200%;
	position: absolute; 
	top: 50%;
	left: 50%; 
	transform: translateX(-50%) translateY(-50%);
	color: #fff;
    }
    
.mask {
    padding-bottom: 10%;
	width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
    }
}

.wall:hover .mask {
	opacity: 1;	/* マスクを表示する */
}

.comment-box {
    position: relative;
    padding:0.25em 1em;

    &::before, &::after{ 
        content:'';
        width: 20px;
        height: 30px;
        position: absolute;
        display: inline-block;
    }
    &::before{
        border-left: solid 2px #5767bf;
        border-top: solid 2px #5767bf;
        top:0;
        left: 0;
    }
    &::after{
        border-right: solid 2px #5767bf;
        border-bottom: solid 2px #5767bf;
        bottom:0;
        right: 0;
    }
}

.underline {
    a{
        display: inline-block;
        color: white;
        //font-size: 120%;
        //text-decoration: none;
        position: relative;
        transition: .3s;
        &::after{
            position: absolute;
            bottom: 0;
            left: 0;
            content: '';
            width: 0;
            height: 1px;
            background-color: white;
            transition: .3s;
        }
        &:hover::after{
            width: 100%;
        }
    }
}

.username-md{
    margin: 1% 10% 1% auto;
    color: white;
    list-style: none;
    
    @include media(lg) {
        display: none;
    }
    @include media(md) {
            
    }
}
    
.username-lg{
    margin: 1% 0 1% auto;
    color: white;
    list-style: none;
        
    @include media(lg) {
    }
    @include media(md) {
        display: none;    
    }
}

.user-list-box {
    position: relative;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
    margin: 10% auto;
    
    @include media(lg) {
        width: 50%;
    }
    @include media(md) {
        width: 90%;    
    }
}
.user-list-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: white;
    color: #95ccff;
    font-weight: bold;
}

.user-list {
    margin-top: 10%;
    margin-right: 1em;
    li {
        line-height: 1.5;
        padding: 0.5em 0;
        list-style-type: none!important;/*ポチ消す*/
        &::before {
            position: absolute;
            left : 1em; /*左端からのアイコンまで*/
            color: black; /*アイコン色*/
        }
    }
}